*{
    border: 0;
    margin: 0; /*왜?*/
}

.navi{
    width: 100%;
    height: 50px;
    background-color: gainsboro;
}

.leftnavi{
    float: left;
    width: 700px;
    height: 50px;
    background-color: rgb(219, 182, 182);
}

.lnavi1{
    float: left;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 251, 212);
}

.lnavi2{
    float: left;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 247, 177);
}

.lnavi3{
    float: left;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 244, 148);
}

.lnavi4{
    float: left;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 238, 86);
}

.lnavi5{
    float: left;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 230, 0);
}

.rightnavi{
    float: right;
    width: 350px;
    height: 50px;
    background-color: rgb(219, 182, 182);
}

.rnavi1{
    float: right;
    width: 50px;
    height: 50px;
    background-color: rgb(254, 255, 200);
}

.rnavi2{
    float: right;
    width: 50px;
    height: 50px;
    background-color: rgb(240, 238, 111);
}

.rnavi3{
    float: right;
    width: 250px;
    height: 50px;
    background-color: rgb(219, 205, 0);
}

.center1{
    width: 100%;
    height: 550px;
    background-color: rgb(0, 8, 73);
}

.title{
    float: left;
    width: 800px;
    height: 550px;
    background-color: rgb(155, 161, 202);
}

.titleimage{
    float: right; /*float 같은 행 줄에 쓰려면 기준 상자부터 flaot 넣어줘야함*/
    width: 1800px; /*페이지축소했을때 밑으로 안내려가는법은?*/
    height: 550px;
    background-color: rgb(56, 68, 146);
}

.center2{
    width: 100%;
    height: 550px;
    background-color: rgb(255, 255, 255);
}

.center2write{
    width: 400px;
    height: 550px;
    background-color: gold;

}

.center2box{

}

.center3{
    width: 100%;
    height: 550px;
    background-color: rgb(247, 247, 247);
}

.center4{
    width: 100%;
    height: 550px;
    background-color: rgb(255, 255, 255);
}

.center5{
    width: 100%;
    height: 800px;
    background-color: rgb(0, 0, 0);
}

.bottom{
    width: 100%;
    height: 500px;
    background-color: gainsboro;
}